
<!DOCTYPE html>
<html lang="en">
<head><title>Edugate | Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="login/libs/bootstrap-3.3.5/css/bootstrap.css">
     <link type="text/css" rel="stylesheet" href="#" id="color-skins">
    <script src="login/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="login/libs/js-cookie/js.cookie.js"></script>
    <script>if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1')) {
        $('#color-skins').attr('href', 'login/css/' + Cookies.get('color-skin') + '.css');
    } else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1')) {
        $('#color-skins').attr('href', 'login/css/color-1.css');
    }
    </script>
</head>
<body><!-- HEADER-->
    <header><!-- not include--></header>
    <!-- WRAPPER-->
    <div id="wrapper-content"><!-- PAGE WRAPPER-->
        <div id="page-wrapper"><!-- MAIN CONTENT-->
            <div class="main-content"><!-- CONTENT-->
                <div class="content">
                    <form action="/reset-password" method="post">
                        <%- include('../csrf/csrf.ejs') %>
                    <div class="page-login rlp">
                        <div class="container">
                            <div class="login-wrapper rlp-wrapper">
                                <div class="login-table rlp-table"><a href="#">
                                    <img src="login/images/logo-color-1.png" alt="" class="login"/></a>
                                    <% if(error){%>
                                        <div class="alert alert-warning" role="alert">
                                            <%= error  %>
                                        </div>
                                    <%}%>
                                    <div class="login-title rlp-title">
                                        Reset Password!</div>
                                    <div class="login-form bg-w-form rlp-form">
                                        <div class="row">
                                            <div class="col-md-12"><label for="regemail" class="control-label form-label">email <span class="highlight">*</span></label><input id="regemail" type="email" placeholder="email" name="email" class="form-control form-input"/><!--p.help-block Warning !--></div>
                                        </div>
                                    </div>
                                    <div class="login-submit">
                                        <button type="submit" class="btn btn-login btn-green"><span>Reset Password</span></button>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
    <!-- FOOTER-->
    <footer></footer>
    <!-- THEME SETTING-->
    <div class="theme-setting">
        <div class="theme-loading">
            <div class="theme-loading-content">
                <div class="dots-loader"></div>
            </div>
        </div>
        <a href="javascript:;" class="btn-theme-setting"><i class="fa fa-tint"></i></a>

        <div class="content-theme-setting"><h2 class="title">setting color</h2>
            <ul class="list-unstyled list-inline color-skins">
                <li data-color="color-1"></li>
                <li data-color="color-2"></li>
                <li data-color="color-3"></li>
                <li data-color="color-4"></li>
                <li data-color="color-5"></li>
                <li data-color="color-6"></li>
                <li data-color="color-7"></li>
                <li data-color="color-8"></li>
                <li data-color="color-9"></li>
                <li data-color="color-10"></li>
            </ul>
        </div>
    </div>

</body>
</html>