<%- include('../includes/head.ejs') %> 

<body>
  <!-- navbar -->
  
  <%- include('../includes/navbar.ejs') %> 

  <!-- content -->
  <div class="container">
    <div class="row">
      <%- include('../includes/menu.ejs') %> 

      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Home
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                        <div class="huge">0</div>
                        <div>Count Student</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                          <i class="fa fa-file-word fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                          <div class="huge">0</div>
                          <div>Total Siswa</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--   <div class="text-center">
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->

          </div>
        </div>
      </div>

     <%- include('../includes/footer.ejs') %> 